<template>
  <div class="home">
    <Customers />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Customers from '@/components/Customers.vue'

@Component({
  components: {
    Customers,
  },
})
export default class Home extends Vue {}
</script>
