<template>
  <v-container>
    <Search
      :fioSearch.sync="fioSearch"
      :date.sync="date"
      @search-click="onSearchCustomerClick"
      @clear-click="onClearCustomerClick"
    />
    <v-row class="text-center">
      <v-col cols="12">
        <v-data-table
          :items="filteredCustomers"
          :headers="tableHeaders"
          show-select
          v-model="selection"
          selectable-key="id"
          :loading="loading"
          :height="tableHeight"
          no-data-text="Нет данных..."
          no-results-text="Нет данных по вашему запросу"
          :options.sync="tableOptions"
          @click:row="onEditCustomerClick"
        >
          <template #item.birthDate="{ item }">
            {{ formatDate(item.birthDate) }}
          </template>
          <template #top>
            <v-row class="text-right pa-4">
              <v-col cols="12">
                <v-tooltip left>
                  <template #activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      @click="onAddCustomersClick"
                      v-bind="attrs"
                      v-on="on"
                      class="mr-4"
                    >
                      добавить
                    </v-btn>
                  </template>
                  <span>Добавить новый элемент</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
          <template #footer>
            <v-row class="text-right pa-4" v-if="filteredCustomers.length > 0">
              <v-col cols="12">
                <v-tooltip left>
                  <template #activator="{ on, attrs }">
                    <v-btn
                      :disabled="selection.length === 0"
                      color="primary"
                      @click="onDeleteCustomersClick"
                      v-bind="attrs"
                      v-on="on"
                      >удалить
                    </v-btn>
                  </template>
                  <span>Удаление выбранных элементов</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <DialogForm :dialog.sync="dialog" :customer="editObj" />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { mapActions, mapGetters } from 'vuex'
import { CustomersType, CustomerType } from '@/types/Customer'
import { DataOptions, DataTableHeader } from 'vuetify'
import { buildQueryObj, declOfNum, formatDate, getQueryObj, unFormatDate } from '@/helpers/utils'
import Search from '@/components/Search.vue'
import DialogForm from '@/components/DialogForm.vue'
import { DialogType } from '@/types/Dialog'
import { UriType } from '@/types/Uri'

@Component({
  components: { Search, DialogForm },
  computed: mapGetters({
    getCustomers: 'customers/getCustomers',
    popup: 'dialog/getDialog',
  }),
  methods: {
    ...mapActions({
      togglePopup: 'dialog/togglePopupAction',
      setDefaultCustomers: 'customers/setDefaultCustomersAction',
    }),
  },
})
export default class Customers extends Vue {
  private date = ''

  private editObj: Partial<CustomerType> = {}

  private isEmptyQuery = true

  private dialog = false

  private filteredCustomers: CustomersType = []

  private fioSearch = ''

  private selection: CustomersType = []

  private togglePopup!: (data: Partial<DialogType>) => void

  private setDefaultCustomers!: (value: number) => void

  private tableOptions: Partial<DataOptions> = {
    page: 1,
    itemsPerPage: 5,
    sortBy: [],
    sortDesc: [],
    multiSort: true,
  }

  private getCustomers!: CustomersType

  private loading = true

  formatDate: typeof formatDate = formatDate

  private readonly tableHeaders: DataTableHeader[] = [
    { text: 'ФИО', value: 'fullName', sortable: true, filterable: true },
    { text: 'Дата рождения', value: 'birthDate', sortable: true, filterable: true },
  ]

  private get uriObj(): Partial<UriType> {
    return buildQueryObj(this.tableOptions, this.selection, this.date, this.fioSearch)
  }

  @Watch('getCustomers', { deep: true, immediate: true })
  onUpdGetCustomers(data: CustomersType) {
    if (data.length) this.onSearchCustomerClick()
  }

  @Watch('uriObj')
  onUpdUriObj(data: Partial<UriType>) {
    if (!this.loading) {
      this.$router
        .replace({
          query: { ...data },
        })
        .catch((err) => {
          //todo: довольно костыльное решение на мой взгляд, найти решение более правильное при рефакторинге
          if (
            err.name !== 'NavigationDuplicated' &&
            !err.message.includes('Avoided redundant navigation to current location')
          ) {
            console.error(err)
          }
        })
    }
  }

  private get tableHeight(): number {
    if (this.tableOptions.itemsPerPage === 5) {
      return 300
    }
    return 550
  }

  mounted() {
    setTimeout(() => {
      this.setDefaultCustomers(5)
      this.filteredCustomers = this.getCustomers
      this.loading = false
      if (this.$router.currentRoute.query) {
        this.isEmptyQuery = false
        this.setQueryParams(this.$router.currentRoute.query)
      }
    }, 3000)
  }

  private setQueryParams(data: Partial<UriType>) {
    const uriObj = getQueryObj(data)

    if (uriObj?.tableParams?.page) {
      this.tableOptions.page = parseInt(uriObj.tableParams.page)
    }
    if (uriObj?.tableParams?.perPage) {
      this.tableOptions.itemsPerPage = parseInt(uriObj.tableParams.perPage)
    }

    if (uriObj?.tableParams?.selection) {
      if (typeof uriObj?.tableParams?.selection !== 'string') {
        const optSelect = uriObj.tableParams.selection.reduce((res: number[], item: string) => {
          if (!isNaN(parseInt(item))) {
            res.push(parseInt(item))
          }

          return res
        }, [])

        this.selection = this.filteredCustomers.filter((item) => optSelect.includes(item.id))
      } else {
        const selection = parseInt(uriObj.tableParams.selection)
        this.selection = this.filteredCustomers.filter((item) => selection === item.id)
      }
    }

    if (uriObj?.tableParams?.sort) {
      const optSort = uriObj.tableParams.sort
      if (typeof optSort === 'string') {
        this.tableOptions.sortBy?.push(optSort.replace('-', ''))
        this.tableOptions.sortDesc?.push(optSort.indexOf('-') >= 0)
      } else {
        optSort?.forEach((item: string) => {
          const propName = item.replace('-', '')
          const propSortDesc = item.indexOf('-') >= 0

          this.tableOptions.sortBy?.push(propName)
          this.tableOptions.sortDesc?.push(propSortDesc)
        })
      }
    }

    if (uriObj?.filter?.fullName) {
      this.fioSearch = uriObj.filter.fullName
    }
    if (uriObj?.filter?.birthDate) {
      this.date = unFormatDate(uriObj.filter.birthDate) || ''
    }

    if (uriObj?.filter?.fullName && uriObj?.filter?.birthDate) {
      this.$nextTick(() => this.onSearchCustomerClick())
    }
  }

  private onSearchCustomerClick() {
    const date = new Date(this.date).toLocaleDateString()

    this.filteredCustomers = this.getCustomers.filter(({ birthDate, fullName }) => {
      const itemDate = new Date(birthDate).toLocaleDateString()
      const searchRes = fullName.indexOf(this.fioSearch)

      if (!this.date && !this.fioSearch) {
        return true
      } else if (!this.date && this.fioSearch) {
        return searchRes > 0
      } else if (this.date && !this.fioSearch) {
        return itemDate === date
      } else {
        return itemDate === date && searchRes > 0
      }
    })
  }

  private onClearCustomerClick() {
    this.date = ''
    this.fioSearch = ''
    this.filteredCustomers = this.getCustomers
  }

  private onDeleteCustomersClick() {
    const ids = this.selection.reduce<number[]>((res, item) => {
      res.push(item.id)
      return res
    }, [])
    const userText = declOfNum(ids.length, ['пользователя', 'пользователей', 'пользователей'])

    this.togglePopup({
      title: 'Подтверждение!',
      description: `Вы уверены в удалении ${ids.length} ${userText} ?`,
      actionResult: '',
      status: true,
      ids,
    })
  }

  private onEditCustomerClick(data: CustomerType) {
    this.editObj = { ...data }
    this.dialog = true
  }

  private onAddCustomersClick() {
    this.editObj = {}
    this.dialog = true
  }
}
</script>
