<template>
  <v-dialog v-model="syncedDialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ dialogTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="userData">
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  label="ФИО"
                  v-model="data.fullName"
                  required
                  outlined
                  dense
                  :rules="[validateRequired('Это поле обязательно')]"
                />
              </v-col>
              <v-col>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  min-width="auto"
                >
                  <template #activator="{ on, attrs }">
                    <v-text-field
                      class="mt-0"
                      v-model="formatedDate"
                      label="Дата рождения"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      outlined
                      dense
                      :rules="[validateRequired('Это поле обязательно')]"
                    />
                  </template>
                  <v-date-picker v-model="data.birthDate" @input="menu = false" scrollable />
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="onCancelBtnClick"> отмена </v-btn>
        <v-btn color="blue darken-1" text @click="onSaveBtnClick"> сохранить </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, PropSync, Ref, Watch } from 'vue-property-decorator'
import { CustomerType } from '@/types/Customer'
import { formatDate, unFormatDate } from '@/helpers/utils'
import { VForm } from '@/types/vuetify'
import { mixins } from 'vue-class-component'
import FieldsValidations from '@/mixins/FieldsValidations'
import { mapActions } from 'vuex'

@Component({
  methods: {
    ...mapActions({
      addCustomer: 'customers/addCustomerAction',
      updateCustomer: 'customers/updateCustomerAction',
    }),
  },
})
export default class DialogForm extends mixins(FieldsValidations) {
  @Prop({ type: Object, default: null })
  public customer!: CustomerType

  @PropSync('dialog', { type: Boolean, required: true, default: false })
  public syncedDialog!: boolean

  @Ref()
  private userData!: VForm

  private menu = false

  private data: CustomerType = {
    birthDate: '',
    fullName: '',
    id: 0,
  }

  private get dialogTitle(): string {
    if (this.data?.fullName) {
      return 'Редактирвание пользователя'
    }
    return 'Добавление нового пользователя'
  }

  @Watch('customer', { deep: true, immediate: true })
  onUpdCustomer(data: CustomerType) {
    if (data?.id) {
      this.data = { ...data, birthDate: unFormatDate(formatDate(data.birthDate)) }
    } else {
      this.data = { birthDate: '', fullName: '', id: 0 }
    }
  }

  private addCustomer!: (data: CustomerType) => void

  private updateCustomer!: (data: CustomerType) => void

  private get formatedDate(): string {
    if (!this.data?.birthDate) return ''

    return formatDate(this.data.birthDate)
  }

  private closeDialog() {
    this.syncedDialog = false
    this.data = { birthDate: '', fullName: '', id: 0 }
    this.userData?.resetValidation()
  }

  private onCancelBtnClick() {
    this.closeDialog()
  }

  private onSaveBtnClick() {
    if (this.userData.validate()) {
      if (this.customer?.id) {
        this.updateCustomer(this.data)
      } else {
        this.addCustomer(this.data)
      }
      this.closeDialog()
    }
  }
}
</script>
