<template>
  <v-row class="text-center">
    <v-col>
      <v-text-field v-model="syncedFioSearch" outlined dense label="ФИО" hide-details />
    </v-col>

    <v-col>
      <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        min-width="auto"
      >
        <template #activator="{ on, attrs }">
          <v-text-field
            class="mt-0"
            :value="formatedDate"
            label="Дата рождения"
            readonly
            v-bind="attrs"
            v-on="on"
            hide-details
            outlined
            dense
          />
        </template>
        <v-date-picker v-model="syncedDate" @input="menu2 = false" scrollable />
      </v-menu>
    </v-col>

    <v-col class="text-right" cols="3">
      <v-btn @click="$emit('search-click')">поиск</v-btn>
      <v-btn @click="$emit('clear-click')" class="ml-4">сброс </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, PropSync, Vue } from 'vue-property-decorator'

@Component({})
export default class Search extends Vue {
  @PropSync('fioSearch', { type: String, required: true })
  public syncedFioSearch!: string

  @PropSync('date', { type: String, required: true })
  public syncedDate!: string

  private menu2 = false

  private get formatedDate(): string {
    if (!this.syncedDate) return ''

    const [year, month, day] = this.syncedDate.split('-')
    return `${day}.${month}.${year}`
  }

  private set formatedDate(val) {
    this.syncedDate = val || ''
  }
}
</script>

<style lang="scss"></style>
