<template>
  <v-app>
    <v-app-bar app dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="20"
        />

        CUSTOMER LIST
      </div>
    </v-app-bar>

    <v-main>
      <v-dialog v-model="dialog.status" :max-width="dialog.maxWidth || 290">
        <v-card>
          <v-card-title class="text-h5">{{ dialog.title }} </v-card-title>

          <v-card-text>
            {{ dialog.description }}
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="onClosePopupBtnClick"> отмена </v-btn>

            <v-btn color="green darken-1" text @click="onSuccessPopupBtnClick"> подтвердить </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { DialogActions, DialogType } from '@/types/Dialog'
import { mapActions, mapGetters } from 'vuex'

@Component({
  computed: {
    ...mapGetters({ dialog: 'dialog/getDialog' }),
  },
  methods: {
    ...mapActions({ togglePopup: 'dialog/togglePopupAction' }),
  },
})
export default class App extends Vue {
  private dialog!: DialogType

  private togglePopup!: (data: Partial<DialogType>) => void

  private onClosePopupBtnClick() {
    this.togglePopup({ status: false, actionResult: DialogActions.cancel })
  }

  private onSuccessPopupBtnClick() {
    this.togglePopup({ status: false, actionResult: DialogActions.success, ids: this.dialog.ids })
  }
}
</script>
<style lang="scss">
::-webkit-scrollbar {
  width: 8px;
  background: rgba(217, 204, 193, 0.1);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--v-secondary-base);
  border-radius: 5px;
  transition: background ease-in-out 0.3s;
}
</style>
